@tailwind base;
@tailwind components;
@tailwind utilities;

/* can change back to these to avoid browser api
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-color: #111111;
  z-index: -1;
}
*/